.new-tweet {
  justify-content: center;
  display: flex;
  padding: 1.5em 0;
  font-family: 'Bungee', 'Source Sans 3', sans-serif;
  flex-direction: column;
}

.new-tweet textarea {
  border: none;
  width: 100%;
  border-bottom: 1px solid #000000;
  background-color: #f4f1ec;
}

.new-tweet .counter {
  float: right;
  font-size: 20px;
  margin-top: 5px;
  color: #545149;
}

.new-tweet .counter.negativeNum {
  color: red;
}

.new-tweet button {
  color: #FFFFFF;
  background-color: #4056A1;
}

.new-tweet .prompt {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

.createTweetTitle {
  display: flex;
  justify-content: center;
}